@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&display=swap");
html {
  font-size: 16px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: "Kumbh Sans", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .side-nav {
  width: 110px;
  height: 100vh;
  border-right: solid 2px #ebf1f5;
}

.wrapper .side-nav .logo {
  margin-bottom: 2em;
  padding: 2em 0;
}

.wrapper .side-nav .logo img {
  height: 3.8em;
  margin: 0 auto;
}

.wrapper .side-nav .menu ul li {
  margin-bottom: 2.6em;
}

.wrapper .side-nav .menu ul li a {
  display: block;
  position: relative;
}

.wrapper .side-nav .menu ul li a img {
  height: 1.4em;
  margin: 0 auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.wrapper .side-nav .menu ul li a .stroke {
  display: none;
}

.wrapper .side-nav .menu ul li.active a img, .wrapper .side-nav .menu ul li:hover a img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.wrapper .side-nav .menu ul li.active a .stroke, .wrapper .side-nav .menu ul li:hover a .stroke {
  height: 1.4em;
  width: 3px;
  border-radius: 6px;
  background-color: #01565b;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  display: block;
}

.wrapper .side-nav .menu ul li.active a .stroke .half, .wrapper .side-nav .menu ul li:hover a .stroke .half {
  display: block;
  height: 50%;
  width: inherit;
  background-color: #5aba8a;
  position: absolute;
  bottom: 0;
}

.wrapper .content {
  width: 100%;
}

.wrapper .content .main {
  height: 100vh;
  padding: 2em 3em 0 3em;
  border-right: solid 2px #ebf1f5;
}

.wrapper .content .main header .title h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 2.3em;
  font-weight: 600;
  text-transform: capitalize;
  color: #082b2f;
  line-height: 1.2em;
}

.wrapper .content .main header .title span {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1em;
  font-weight: 500;
  display: block;
  color: #627f83;
  margin-top: 0.4em;
}

.wrapper .content .main header .search-bar .grp {
  position: relative;
}

.wrapper .content .main header .search-bar .grp img {
  height: 1.35em;
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.wrapper .content .main header .search-bar .grp input {
  display: block;
  padding: 14px 50px 14px 54px;
  border-radius: 50px;
  width: 100%;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#edf6fb), to(#f4f7fc));
  background: linear-gradient(90deg, #edf6fb, #f4f7fc);
}

.wrapper .content .main .dashboard-area {
  margin-top: 3em;
}

.wrapper .content .main .dashboard-area .productivity-listing .pro-bar {
  background-color: #e2f297;
  padding: 0.95em;
  color: #082b2f;
  margin-bottom: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1em;
  -webkit-box-shadow: 0 2px 8px rgba(1, 86, 91, 0.2);
          box-shadow: 0 2px 8px rgba(1, 86, 91, 0.2);
}

.wrapper .content .main .dashboard-area .productivity-listing .pro-bar:nth-child(2) {
  background-color: #5aba8a;
  color: #fafafa;
}

.wrapper .content .main .dashboard-area .productivity-listing .pro-bar:nth-child(2) .chart svg {
  fill: #e2f297 !important;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.wrapper .content .main .dashboard-area .productivity-listing .pro-bar:nth-child(2) .time-area::before {
  background-color: #e2f297;
}

.wrapper .content .main .dashboard-area .productivity-listing .pro-bar:nth-child(3) {
  background-color: #01565b;
  color: #fafafa;
}

.wrapper .content .main .dashboard-area .productivity-listing .pro-bar:nth-child(3) .chart svg {
  fill: #e2f297 !important;
  -webkit-transform: scale(-1, 1) rotate(180deg);
          transform: scale(-1, 1) rotate(180deg);
}

.wrapper .content .main .dashboard-area .productivity-listing .pro-bar:nth-child(3) .time-area::before {
  background-color: #627f83;
}

.wrapper .content .main .dashboard-area .productivity-listing .percent-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}

.wrapper .content .main .dashboard-area .productivity-listing .percent-area .date-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  padding: 0.6em 1.25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.7em;
  margin-right: 2.5em;
  position: relative;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.wrapper .content .main .dashboard-area .productivity-listing .percent-area .date-tag .date,
.wrapper .content .main .dashboard-area .productivity-listing .percent-area .date-tag .day {
  display: block;
  position: relative;
  z-index: 99;
}

.wrapper .content .main .dashboard-area .productivity-listing .percent-area .date-tag .day {
  text-transform: capitalize;
  font-size: 0.875em;
  font-weight: 500;
  color: #627f83;
}

.wrapper .content .main .dashboard-area .productivity-listing .percent-area .date-tag .date {
  text-transform: capitalize;
  font-size: 1.875em;
  font-weight: 600;
  color: #082b2f;
}

.wrapper .content .main .dashboard-area .productivity-listing .percent-area .date-tag::after {
  content: "";
  height: 40px;
  width: 40px;
  display: block;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  right: -18px;
  border-radius: 4px;
  -webkit-transform: translate(0, -50%) rotate(45deg) skew(24deg, 24deg);
          transform: translate(0, -50%) rotate(45deg) skew(24deg, 24deg);
}

.wrapper .content .main .dashboard-area .productivity-listing .percent-area .fancy-chart .chart-title {
  text-transform: capitalize;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.875em;
  font-weight: 600;
}

.wrapper .content .main .dashboard-area .productivity-listing .percent-area .fancy-chart .chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 0.7em;
}

.wrapper .content .main .dashboard-area .productivity-listing .percent-area .fancy-chart .chart svg {
  fill: #01565b;
  height: 1em;
  width: 5.6em;
}

.wrapper .content .main .dashboard-area .productivity-listing .percent-area .fancy-chart .chart .percent-count {
  display: block;
  position: relative;
  left: 1em;
  bottom: 0.3em;
  background-color: #fafafa;
  padding: 3px 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-size: 0.85em;
  font-weight: 600;
  color: #082b2f;
}

.wrapper .content .main .dashboard-area .productivity-listing .time-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  position: relative;
}

.wrapper .content .main .dashboard-area .productivity-listing .time-area .grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2.5em;
}

.wrapper .content .main .dashboard-area .productivity-listing .time-area .grp .title {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.875em;
  font-weight: 600;
}

.wrapper .content .main .dashboard-area .productivity-listing .time-area .grp .time {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.175em;
  font-weight: 700;
}

.wrapper .content .main .dashboard-area .productivity-listing .time-area::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 1px;
  display: block;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #5aba8a;
  left: 0;
}

.wrapper .content .main .dashboard-area .h-title {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.75em;
  font-weight: 600;
  color: #082b2f;
  text-align: center;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-chart {
  height: 9.5em;
  width: 9.5em;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1.65em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-chart svg {
  stroke: #01565b;
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
  z-index: 99;
  fill: none;
  stroke-width: 0.1em;
  stroke-dasharray: 58px;
  stroke-linecap: round;
  position: absolute;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-chart svg:nth-child(2) {
  stroke: #5aba8a;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  z-index: 98;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-chart svg:nth-child(3) {
  stroke: #e2f297;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 97;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-chart svg:nth-child(4) {
  stroke: #edf6fb;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 96;
  stroke-dasharray: 100px;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-chart .decal-circle {
  height: 4.5em;
  width: 4.5em;
  display: inline-block;
  background-color: #e2f297;
  border-radius: 50%;
  position: absolute;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-chart .rocket {
  height: 4em;
  position: absolute;
  bottom: 4em;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 9.1em;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-progress .stat .top-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-progress .stat .top-area .stat-title {
  color: #627f83;
  font-weight: 500;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-progress .stat .top-area .stat-percentage {
  color: #082b2f;
  font-weight: 700;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-progress .stat .stat-line {
  margin-top: 0.35em;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-progress .stat .stat-line .outer {
  display: block;
  width: 100%;
  height: 0.4em;
  border-radius: 25px;
  background-color: #ebf1f5;
  overflow: hidden;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-progress .stat .stat-line .outer .inner {
  display: block;
  height: inherit;
  width: 40%;
  border-radius: 15px;
  background-color: #5aba8a;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-progress .stat:nth-child(2) .outer .inner {
  width: 80%;
  background-color: #01565b;
}

.wrapper .content .main .dashboard-area .monthly-statistics .statistics-progress .stat:nth-child(3) .outer .inner {
  width: 25%;
  background-color: #e2f297;
}

.wrapper .content .main .dashboard-area .upcoming-activity .h-title {
  text-align: left;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4em;
  height: 27.9em;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart table {
  height: 25.6em;
  position: relative;
  left: 60px;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart table thead .graph-time th {
  position: relative;
  text-align: left;
  left: -20px;
  bottom: 1.75em;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: #627f83;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart table tbody .graph-col .bar {
  width: 5em;
  border-left: solid 1px #ebf1f5;
  position: relative;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days {
  position: absolute;
  top: 1.75em;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day {
  height: 2.15em;
  margin-bottom: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day .title {
  width: 2.2em;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  color: #627f83;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day .title.active {
  font-weight: 700;
  color: #01565b;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day .tag {
  position: relative;
  left: 1.65em;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day .tag .content {
  background-color: #e2f297;
  height: 3em;
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  text-align: center;
  border-radius: 0.8em;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day .tag .content .tag-title {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: #01565b;
  position: relative;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day .tag .content .tag-title::before {
  content: "";
  position: absolute;
  height: 0.4em;
  width: 0.4em;
  border-radius: 50%;
  background-color: #01565b;
  display: block;
  top: 40%;
  left: -1.2em;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day .tag .content::after {
  content: "";
  height: 28px;
  width: 28px;
  display: block;
  background-color: #e2f297;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(45deg) skew(5deg, 5deg);
          transform: translate(0, -50%) rotate(45deg) skew(5deg, 5deg);
  right: -9px;
  border-radius: 4px;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day .tag .tag-stroke {
  position: absolute;
  height: 16.3em;
  width: 2px;
  right: 45%;
  background: -webkit-gradient(linear, left bottom, left top, from(#e2f297), to(#01565b));
  background: linear-gradient(0deg, #e2f297, #01565b);
  top: 4em;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day .tag .tag-stroke::before {
  content: "";
  height: 0.55em;
  width: 0.55em;
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #01565b;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 99;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day .tag .tag-stroke::after {
  content: "";
  height: 1.4em;
  width: 1.4em;
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px rgba(1, 86, 91, 0.45);
  top: -7px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 98;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(4) .tag {
  left: 16.7em;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(4) .tag .content {
  background-color: #5aba8a;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(4) .tag .content::after {
  background-color: #5aba8a;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(4) .tag .content .tag-title {
  color: #fafafa;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(4) .tag .content .tag-title::before {
  background-color: #fafafa;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(5) .tag {
  left: 11em;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(5) .tag .content {
  background-color: #01565b;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(5) .tag .content::after {
  background-color: #01565b;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(5) .tag .content .tag-title {
  color: #e2f297;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(5) .tag .content .tag-title::before {
  background-color: #e2f297;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(7) .tag {
  left: 21.6em;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(7) .tag .content {
  background-color: #edf6fb;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(7) .tag .content::after {
  background-color: #edf6fb;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(7) .tag .content .tag-title {
  color: #01565b;
}

.wrapper .content .main .dashboard-area .upcoming-activity .activity-chart .graph-days .g-day:nth-child(7) .tag .content .tag-title::before {
  background-color: #01565b;
}
/*# sourceMappingURL=Main.css.map */